body {
	margin: 15px;
	background-color: #EEE;
	font-family: Tahoma;
	text-align: center;
}
#tips {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: auto;
	background-color: #fff;
	font-size: 9pt;
	border: 1px solid #ccc;
	text-align: left;
	padding-bottom: 5px;
}
#tips	a {
	color: #000;
	text-decoration: none;
}
#tips	a:hover {
	color: #000;
	text-decoration: underline;
}

#titles {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 600px;
	height: 30px;
	font-size: 14px;
	color: #3F68A6;
	font-weight: bold;
	text-align: left;
}

div, textarea, option, input {
	font-size: 9pt;
	font-family: Tahoma;
}

.log {
	display: block;
	background-color: #4971AD;
	color: #fff;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.mes {
	display: block;
	padding-left: 20px;
	padding-top: 5px;
	min-height: 100px;
}

.inbut {
	border-color: #EEE;
	background-color: #fff;
}